<div data-component="lesson-list">
    <div data-section="lessons">
        <div 
            *ngFor="let lesson of lessons" 
            data-element="lesson"
        >
            <span data-element="lesson-title">
                {{ lesson.title }}
            </span>
            
            <div data-section="lesson-actions">
                <button 
                    data-element="lesson-button"
                    data-type="edit"
                    (click)="editLesson(lesson.lessonId)"
                >
                    Edit
                </button>
                
                <button 
                    data-element="lesson-button"
                    data-type="delete"
                    (click)="deleteLesson(lesson.lessonId)"
                >
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>